#container{position: relative;}
#container .box{padding: 5px;display: inline;float: left;}
#container .box_img{padding: 5px;border: 1px solid #cccccc;box-shadow: 0 0 5px #cccccc;-moz-box-shadow: 0 0 5px #cccccc;-webkit-box-shadow: 0 0 5px #cccccc;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
#container .box_img img{width: 150px;height: auto;}


















